.portfolio-header{
    display: flex;
    justify-content: center;
    height: 100px;
    color: var(--white);
    overflow: visible;
}
.logo{
   font-weight:900;
    font-size: 40px;   
}
.nav-link span:hover{
    color: var(--dark-orange);
}


