.resume-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 120px 0;
    background-color: white;
}
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 50px;
}
.screen-heading {
    font-size: 32px;
    color: #1f2235;
    font-family: "Poppins Bold";
}
.screen-sub-heading {
    letter-spacing: 3px;
    margin: 8px 0 10px;
    font-size: 12px;
    color: var(--black);
}
.heading-seperator {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    margin: 10px 0 0;
}
.seperator-line {
    width: 100%;
    height: 3px;
    background-color: #1f221f;
}
.seperator-blob {
    height: 13px;
    width: 30%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-orange);
    margin-left: 35%;
    border-radius: 35%;
    
}
.resume-card {
    display: flex;
    height: 360px;
    width: 1000px;
}
.resume-bullets {
    box-shadow: 15px 0 9px -15px #1f2235;
    height: 100%;
    width: 280px;
    overflow: scroll;
}
.resume-bullet-details {
    flex-grow: 1;
    width: 600px;
    
    padding: 0 0 0 80px;
    overflow: scroll;
}
.bullet-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.bullet-icons {
    width: 34px;
    height: 100%;
    z-index: 1;
    background-color: #1f2235;
    position: absolute;
    
}
.bullets {
    width: 86%;
    position: relative;
    z-index: 2;
    padding-left: 3%;
   
}
.selected-bullet {
    color: #1f2235;
    width: 100%;
}

.bullet-label {
    font-size: 14px;
    white-space: nowrap;
    font-family: "Poppins SemiBold";
}
.bullet-label{
   margin-left: 5%;
   
}
.bullet-logo{
    color: white;
    margin-top: 20px;
}
.resume-bullet-details {
    flex-grow: 1;
    width: 600px;
    overflow: hidden;
    padding: 0 0 0 80px;
}
.resume-details-carousal {
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out,-webkit-transform 1s ease-out;
}
.resume-heading, .resume-screen-container {
    display: flex;
    flex-direction: column;
}
.resume-screen-container {
    justify-content: space-evenly;
    height: 360px;
    width: 100%;
    padding-top: 20px;
    overflow-y: scroll;
    
}
.resume-main-heading {
    position: relative;
    display: flex;
    justify-content:space-between;
    font-size: 16px;
    color: var(--dark-orange);
    font-weight: 700;
}
.resume-sub-heading {
    font-size: 14px;
    font-family: "Poppins SemiBold";
    color: var(--black);
    margin: 10px 0 0;
}
.resume-heading-description {
    font-size: 12px;
    text-align: justify;
    font-family: "Poppins SemiBold";
}
.heading-bullet {
    position: absolute;
    left: -30px;
    height: 15px;
    width: 15px;
    top: 5px;
    border-radius: 50%;
    background-color: #ff5823;
}
.experience-description {
    max-width: 100%;
}

.experience-description {
    margin: 10px 0 0;
    text-align: justify;
}
.programming-skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-parent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}
.skill-percentage {
    position: relative;
    height: 15px;
    width: 50%;
    background-color: #ff5823;
}
 .active-percentage-bar {
    height: 15px;
    width: 60%;
    transition: .8s ease;
    position: absolute;
    background-color: #1f2235;
}
.heading-bullet {
    position: absolute;
    left: -30px;
    height: 15px;
    width: 15px;
    top: 5px;
    margin-right: 5%;
    border-radius: 50%;
    background-color: #ff5823;
}
.resume-main-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.heading-date {
    background-color: #ff5823;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 14px;
    color: var(--white);
}
.resume-sub-heading {
    font-size: 14px;
    font-family: "Poppins SemiBold";
    color: var(--black);
    margin: 10px 0 0;
}
.resume-heading-description {
    font-size: 12px;
    text-align: justify;
}
.bullet-label a{
    text-decoration: none;
    color: #1f2235;
}
.bullet-label a:hover{
    text-decoration: none;
    background-color: #1f2235;
    color: white;
    padding: 5%;
    
    border-radius: 50%;
}







@media (max-width: 1023px){
.resume-bullet-details {
    height: 360px;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
}

@media  (max-width: 1110px){
.resume-bullet-details {
    padding: 0 0 0 70px;
}
}
@media(max-width:850px){
    .resume-container{
        display: block;
    }
    .resume-screen-container{
        justify-content: space-evenly;
    }
    
    .resume-heading{
        display: block;
    }
    .bullet-label{
        margin-left: 15%;
        
     }
     .resume-main-heading{
         display: block;
     }
     .heading-date {
        background-color: #ff5823;
        padding: 4px 12px;
        font-size: 14px;
        max-width: 15%;
        border-radius: 14px;
        color: var(--white);
        justify-content: center;
    }
    
}
@media(max-width:600px){
    .resume-card{
        display: block;
    }
    .resume-bullet-details #pskills{
       justify-content: left;
        box-sizing: border-box;
        overflow-wrap: unset;
        display: flex;
        font-size: 12px;
        
    }
    .skill-percentage{
        width: 35%;
        height: 10px;
    }
    .active-percentage-bar{
        width: 85%;
        height: 10px;
    }
    .programming-skills-container {
        display: block;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #interests .resume-heading-description{
        display: none;
        box-sizing: border-box;
    }
    .heading-date{
        max-width: 22%;
    }
    .experience-description{
        display: none;
    }
    #work .resume-screen-container{
        margin-left: 5%;
    }
}